.class1{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(238, 195, 76, 0.986) 0px 10px 10px;
}
.col1{
    margin-top:120px !important;
}
.col2{
    margin-top:30px !important ;
    width: 300px; 
    margin-left: 50px;
    
}
.c2{
    background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);
}
.col3{
    margin-top: 90px;
    /* margin-right: 10px; */
}
.col9{

    margin-top: 80px;
}
.btn3{
background-color: rgb(186, 229, 186);
border-radius: 15px;
}
.gradiant{
    background: #FEFAF1;

}
.col10{
    background: #FEEFD0;

}
.col12{
    margin: 140px;
}
.col13{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.col14{
    background-image: url(./image/Image\ \(3\).png ) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;

}
.btn6{
    height: 50px;
    width: 190px;
}
.zubii{
    background-color: black;
}
.col15{
    margin-top: 120px;
 margin-left: 40px;
}
.col17{
    margin-top: 60px;
}
.zubiii{
    border-top: 3px solid gray;
 width: 1100px;
}
.rrr{
    width: 300px;
     height: 38px;
}
.btn122{
    border-radius: 10px;
    background-color: rgb(255, 128, 32);
}
